*, ::after, ::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #2c2c2c;
  font-size: 16px;
  line-height: 1.3;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h1,h2,h3,p{
  margin-top: 0;
  margin-bottom: 0;
}
img{
  display: block;
  overflow: hidden;
}
a{
  color: inherit;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section{
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-title{
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  color: #378c3f;
}
.section-wrapper{
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding:0 40px;
  box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
  margin-bottom: 40px;
}
.wrap{
  flex: 0 0 50%;
  max-width: 50%;
}
.header{
  height: 59px;
  width: 100%;
  background-color: #378c3f;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link:hover {
  color: rgb(255, 177, 132);
  text-decoration: underline;
  text-decoration-color: rgb(255, 177, 132);
}
.profile{
  text-align: center;
  background-image: url();
}
.profile-title{
  font-size: 28px;
  text-transform: uppercase;
}
.profile-image-container a {
  position: relative;
}
.profile-img-container a:before {
  content: "";
  border: 15px solid rgba(55,140,63,.6);
  border-radius: 50%;
  height: 220px;
  width: 220px;
  position: absolute;
  left: 42%;
  background-color: lime;
  animation-name: stretch;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
} 
@keyframes stretch {
  0% {
    transform: scale(.1);
    background-color: rgb(11, 252, 11);
    border-radius: 100%;
  }
  
  50% {
    background-color: rgb(65, 253, 65);
  }
  
  100% {
    transform: scale(.9);
    background-color: #8df197;
  }
}
.profile-image {
  position: relative;
  border-radius: 50%;
  height: 220px;
  width: 220px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
  z-index: 9999;
  transition: all .3s ease-out;
  margin: 0 auto;
}
.profile-subtitle{
  /* font-weight: 600; */
  text-transform: uppercase;
  font-size: 22px;
}

.contacts-text{
  margin-right: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.contacts-item{
  margin-bottom: 30px;
}
.projects-wrapper{
  display: flex;
  gap: 20px;
  align-items: center;
}
.skills-wrap{
  display: flex;
  align-items: center;
  gap: 100px;
}
.skills-item{
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.code-func{
  margin-right: 10px;
  color: darkorchid;
  font-style: italic;
}
.code-name{
  margin-right: 10px;
  color: red;
}
.code-res{
  color: rgb(28, 180, 8);
}
.projects-list :first-child{
  margin-bottom: 20px;
}
.projects-name, .projects-link{
  margin-right: 15px;
}
.projects-text{
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}
.education-list{
  display: flex;
  gap: 40px;
  align-items: center;
}
.education-title{
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 15px;
}
.languages-list{
  column-count: 2;
}
.languages-item{
  margin-bottom: 15px;
}
.footer{
  /* height: 159px; */
  width: 100%;
  padding: 20px 0;
  background-color: #378c3f;
}
.footer-title{
  text-align: center;
  color: #fff;
}
.footer-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-card{
  display: flex;
  align-items: center;
  gap: 15px;
}
