* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  color: blue;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link:hover {
  color: rgb(7, 204, 7);
  text-decoration: underline;
  text-decoration-color: rgb(7, 204, 7);
}
